.wrapper .icon {
  position: relative;
  background: #4d4c4c;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.facebook:hover,
.facebook:hover .tooltip,
.facebook:hover .tooltip::before {
  background: #1877F2 !important;
  color: #ffffff !important;
}

.tiktok:hover,
.tiktok:hover .tooltip,
.tiktok:hover .tooltip::before {
  background: radial-gradient(circle, rgba(0,0,0,1) 41%, rgba(255,0,80,1) 59%, rgba(0,242,234,1) 70%) !important;
  color: #ffffff !important;
}

.instagram:hover,
.instagram:hover .tooltip,
.instagram:hover .tooltip::before {
  background: linear-gradient(to right,
    #833ab4,#fd1d1d,#fcb045) !important;
  color: #ffffff !important;
}

.youtube:hover,
.youtube:hover .tooltip,
.youtube:hover .tooltip::before {
  background: #CD201F !important;
  color: #ffffff !important;
}
