<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">

<head>
	<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" href="../static/images/favicon.ico"
	th:href="@{/images/favicon.ico}" type="image/x-icon">
<!-- Favicon -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<!-- Iconos -->

<link rel="stylesheet" th:href="@{../../css/socialicons.css}">

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet" />
	<link href="../static/css/general.css" th:href="@{/css/general.css}" rel="stylesheet" />
	<title>Política de privacidad - Mythosaur Shop</title>
	
	
</head>

<body>
	<header th:replace="~{fragments/headerNavbar :: navbarUser}"></header>
	 <div class="container mt-5">
        <h1 class="text-center">Política de Privacidad</h1>
        <p class="text-muted text-center">Última actualización: 20 de mayo de 2024</p>
        <div class="mt-4">
            <h2>1. Introducción</h2>
            <p>En Mythosaur Shop, valoramos tu privacidad y nos comprometemos a proteger tus datos personales. Esta política de privacidad explica cómo recopilamos, utilizamos y compartimos tu información cuando visitas nuestro sitio web y realizas compras en nuestra tienda online.</p>

            <h2>2. Información que Recopilamos</h2>
            <p>Recopilamos diversos tipos de información para ofrecer y mejorar nuestros servicios:</p>
            <ul>
                <li><strong>Información personal:</strong> Nombre, dirección de correo electrónico, dirección de envío, y número de teléfono.</li>
                <li><strong>Información de pago:</strong> Detalles de tarjetas de crédito u otros métodos de pago.</li>
                <li><strong>Información de uso:</strong> Datos sobre cómo interactúas con nuestro sitio web.</li>
                <li><strong>Cookies:</strong> Utilizamos cookies para mejorar la experiencia del usuario en nuestro sitio web.</li>
            </ul>

            <h2>3. Uso de la Información</h2>
            <p>Utilizamos la información recopilada para:</p>
            <ul>
                <li>Procesar y gestionar tus pedidos.</li>
                <li>Mejorar nuestro sitio web y servicios.</li>
                <li>Enviar actualizaciones y promociones sobre nuestros productos.</li>
                <li>Proteger contra fraudes y mantener la seguridad de nuestro sitio web.</li>
            </ul>

            <h2>4. Compartir la Información</h2>
            <p>No vendemos ni compartimos tu información personal con terceros, excepto en los siguientes casos:</p>
            <ul>
                <li>Proveedores de servicios: Trabajamos con terceros que nos ayudan a procesar pagos, realizar envíos y otras tareas esenciales para nuestra operación.</li>
                <li>Requisitos legales: Podemos divulgar información si es necesario para cumplir con la ley o proteger nuestros derechos.</li>
            </ul>

            <h2>5. Seguridad de la Información</h2>
            <p>Implementamos medidas de seguridad para proteger tus datos personales contra acceso no autorizado, alteración, divulgación o destrucción.</p>

            <h2>6. Tus Derechos</h2>
            <p>Tienes derecho a acceder, rectificar o eliminar tu información personal en cualquier momento. Para ejercer estos derechos, por favor contáctanos a través de nuestro correo electrónico de soporte.</p>

            <h2>7. Cambios en la Política de Privacidad</h2>
            <p>Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Te notificaremos sobre cualquier cambio publicando la nueva política en nuestro sitio web.</p>

            <h2>8. Contacto</h2>
            <p>Si tienes alguna pregunta o inquietud sobre nuestra política de privacidad, no dudes en contactarnos:</p>
            <p>Email: <a href="mailto:mythosaurshop@gmail.com">mythosaurshop@gmail.com</a></p>
        </div>
    </div>
	
	<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>