<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	data-bs-theme="dark">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" href="../static/images/favicon.ico"
	th:href="@{/images/favicon.ico}" type="image/x-icon">
<!-- Favicon -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<!-- Iconos -->

<link rel="stylesheet" th:href="@{../css/socialicons.css}">

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{../../../js/general.js}" defer></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet" />
<title>Gestión categorías</title>
</head>

<body>
	<header th:replace="~{fragments/headerNavbarAdmin :: navbarAdmin}"></header>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="~{fragments/sidebarAdmin :: sidebarAdmin}"></div>
			<div class="col-md-9 col-lg-10 py-3 w-75">
				<div th:if="${mensaje}" class="alert"
					th:classappend="${mensajeColor == 'success'} ? 'alert-success' : 'alert-danger'"
					role="alert">
					<span th:text="${mensaje}"></span>
				</div>
				<table border=1 class="table table-bordered" id="dataTable">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>Descripción</th>
							<th>Operaciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="category : ${categorias}">
							<td th:text="${category.categoryId}">1</td>
							<td th:text="${category.categoryName}">Categoría</td>
							<td th:text="${category.categoryDescription}">Descripción de
								la categoría</td>
							<td class="d-flex justify-content-around"><a href="#"
								th:href="@{/admin/categoria/editar/{id}(id=${category.categoryId})}"><i
									class="bi bi-pencil-square"></i> Editar</a>
								<button class="btn btn-danger"
									th:attr="data-bs-toggle='modal', data-bs-target='#deleteModal'"
									th:data-id="${category.categoryId}">
									<i class="bi bi-x-circle"></i> Borrar
								</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- Modal para borrar -->
	<div class="modal fade" id="deleteModal" tabindex="-1"
		aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="deleteModalLabel">¿Está seguro que
						desea eliminarla?</h3>
				</div>
				<div class="modal-body">
					<form id="deleteForm" method="post">
						<input type="hidden" name="_method" value="POST">
						<button type="submit" class="btn btn-danger">Borrar</button>
					</form>
				</div>
				<div class="modal-footer">
					<p class="fs-8">Haz click fuera del modal para NO BORRAR y
						cerrar</p>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="~{fragments/footerAdmin :: footerA}"></footer>

	<script>
		let deleteModal = document.getElementById('deleteModal');
		deleteModal.addEventListener('show.bs.modal', function(event) {
			let button = event.relatedTarget;
			let categoryId = button.getAttribute('data-id');
			let form = document.getElementById('deleteForm');
			form.setAttribute('action',`/admin/categoria/borrar/${categoryId}`);
		});
	</script>
</body>

</html>
