<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	data-bs-theme="dark">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}" type="image/x-icon">
	<!-- Favicon -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<!-- Iconos -->

	<title>Gestión clientes</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

	<header th:replace="~{fragments/headerNavbarAdmin :: navbarAdmin}"></header>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="~{fragments/sidebarAdmin :: sidebarAdmin}"></div>
			<div class="col-md-9 col-lg-10 py-3 w-75">
				<table border=1 class="table table-bordered" id="dataTable">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre de usuario</th>
							<th>Nombre</th>
							<th>Apellidos</th>
							<th>DNI</th>
							<th>Correo</th>
							<th>Fecha nacimiento</th>
							<th>Última conexión</th>
							<th>Teléfono</th>
							<th>Dirección</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente : ${customers}">
							<td th:text="${cliente.basicUserId}">1</td>
							<td th:text="${cliente.basicUserUName}">user</td>
							<td th:text="${cliente.basicUserName}">Ángel</td>
							<td th:text="${cliente.basicUserLastName}">Naranjo</td>
							<td th:text="${cliente.basicUserDni}">28711746H</td>
							<td th:text="${cliente.customerMail}">angel@naranjo.es</td>
							<td th:text="${cliente.customerBirth}">12/05/1958</td>
							<td th:text="${cliente.customerLastSession}">Naranjo</td>
							<td th:text="${cliente.customerPhone}">28711746H</td>
							<td th:text="${cliente.customerAddress}"></td>
							<td class="d-flex justify-content-around">
								<a href="#" th:href="@{/admin/cliente/editar/{id}(id=${cliente.basicUserId})}"><i
										class="bi bi-pencil-square"></i> Editar</a>
								<a href="#" th:href="@{/admin/cliente/borrar/{id}(id=${cliente.basicUserId})}"><i
										class="bi bi-x-circle"></i> Borrar</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>